<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSANECollectionAll.ane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IOSANECollectionAllANEs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IOSANECollectionAllSample.ipa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IOSANECollectionAllSampleDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IOSANECollectionAllSamples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IOSANECollectionIAD.ane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>IOSANECollectionIADSample.ipa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>IOSANECollectionMultiSample.ipa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>IOSANECollectionStoreKit.ane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IOSANECollectionStoreKitSample.ipa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>IOSANECollectionStoreKitSampleDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>IOSANECollectionXXX.ane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>IOSANECollectionxxx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6823F72A15D27DCC00096CFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6833B46115DCF78F005E5CC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94A4415CF6A7700459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94A6715CF6A8300459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94A6F15CF6AA200459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94A8715CF945F00459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94A9515CF9E8B00459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94AEE15D10D5900459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94AFF15D11F1D00459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94B1915D1235700459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D94B2E15D12B4500459983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E8EFE815D2753100A6E22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E9712915CBD0BA009E6FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E9714C15CBD0BA009E6FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E9719115CBD3FE009E6FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E971A615CBF24F009E6FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E971AE15CBF77B009E6FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E971DF15CBFBEC009E6FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
